._SectionContainer{
    position: relative;
    overflow: hidden;
    background-image: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
    background-origin: inherit;
    background-clip: inherit;
    background-color: inherit;
    background-size: cover;
    background-position: center center;
}
._ResponsiveSection{
    margin: 0px auto;
    position: relative;
    width: 1040px;
    height: auto;
}
